html{
	height: 100%;
}
body{
	background-color: #3F3035;
	background-image: url(images/images-back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
}
.header{
	height: 118px; 
	text-align: center;
}
nav{
	text-align: center;
	background-color: rgba(0, 0, 0, .388);
	padding-top: 10px;
	padding-bottom: 10px;
}
.bodyMain{
	height: 400px;
	color: #D1DCBD;
	text-align: center;
	padding-top: 5px;
	padding-left: 240px;
	padding-right: 240px;
}
.heading-font{
	font-size: 72px;
	font-family: "Comic Sans MS", cursive;
}
.paragraph{
	font-family: "Comic Sans MS", cursive;
}
.link{
	color: white;
	font-size: 30px;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive;
}
nav a
{
	color: white;
	font-size: 12px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Papyrus, fantasy;
}

.footer{
	height: 50px;
	background-color: rgba(0, 0, 0, .550);
	margin-top: 35px;
	margin-bottom: 35px;
}
.footerbody{
	text-align: center;
	font-size: 15px;
	color: white;
	padding-top: 15px;
	padding-bottom: : 15px;
}